<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "facebook.png" %>">
</section>
<section class="about">
  <h1>About Facebook</h1>
  <p>
   FaceBookをイメージでしたものだよ。
  </p>
</section>

<footer>
  <p>おべんきょ株式会社</p>
  <p>© 2017 Copyright Obenkyo Corp.</p>
</footer>

