<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h2>お知らせ</h2>
    <ul>
      <% @notifications.each do |notification| %>
      <hr>
        <table class="oshirase_table">
          <tr>
            <th>ステータス</th>
            <th>なまえ</th>
            <th>ブログ名</th>
            <th>時間</th>
          </tr>
          <tr>
            <td><%= read_status(notification.read) %></td>
            <td><%= notification.comment.user.try(:name) %>さん</td>
            <td><%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id) %></td>
            <td><%= notification.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %></td>
          </tr>
        </table>
      <% end %>
    </ul>
  </div>
</div>
