table.oshirase_table {
    text-align: center;
    border: solid 1px #999999;
    border-collapse: collapse;
    margin: 0 auto;
}

table.oshirase_table th {
    text-align: center;
    border-bottom: solid 1px #999999;
    border-left: dotted 1px #999999;
    border-collapse: collapse;
}

table.oshirase_table td {
    text-align: center;
    border: dotted 1px #999999;
    border-collapse: collapse;
}

h2  {
  text-align: center;
}

